@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1220px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1520px;
  }
}

body {
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  line-height: 1.2;
  color: #4a4a4a;
}
button {
  border: none;
  background: transparent;
  outline: none;
}
.close {
  margin-left: auto;
  font-size: 30px;
  margin-right: -12px;
  margin-top: -22px;
  margin-bottom: -10px;
}

.text-18 {
  font-size: 1.125rem;
}
.text-20 {
  font-size: 1.25rem;
}
.text-24 {
  font-size: 1.5rem;
}
.text-30 {
  font-size: 1.9rem;
}
.text,
.text-small,
.text-smallest {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
}
.text-small {
  font-size: 0.875rem;
}
.text-smallest {
  font-size: 0.75rem;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
a,
b {
  font-family: "Proxima Nova", sans-serif;
  text-decoration: none;
  color: #4a4a4a;
}
h1,
.h1 {
  font-size: 2.8rem;
  font-weight: bold;
}
h2,
.h2 {
  font-size: 2.25rem;
  font-weight: bold;
}
h3,
.h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
img {
  max-width: 100%;
}
.gold {
  color: #8c6a46;
}
.border-gold {
  border: 1px solid #8b6a47;
}
.underline {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}
section {
  padding: 70px 0;
}
[type="checkbox"],
[type="radio"] {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.violet {
  color: #9d57d5;
}
.bold {
  font-weight: bold;
}
.ff_bold {
  font-family: "proxima nova rg", sans-serif;
}
.ff_black {
  font-family: "proximanovabl", sans-serif;
}
.ff_sb {
  font-family: "proxima nova lt", sans-serif;
}

.btn_main {
  height: 41px;
  background-image: linear-gradient(
    126deg,
    #9c7a49 6%,
    #623500 50%,
    #805937 94%
  );
  border: 1px solid #8b6a47;
  border-radius: 20px;
  width: 100%;
  max-width: 192px;
}
.btn_main span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 40px;
  opacity: 0.74;
  font-family: "Proxima Nova";

  line-height: 1.2;
  font-weight: 400;
}
.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}
@media screen and (max-width: 769px) {
  h1,
  .h1 {
    font-size: 1.8rem;
  }
  h2,
  .h2 {
    font-size: 1.65rem;
  }
  h3,
  .h3 {
    font-size: 1.05rem;
  }
  section,
  .intro {
    padding: 30px 0;
  }
}
/* header */
header {
  padding: 10px 0;
  background-color: #fff;
}
.header_pin {
  position: relative;
}
.header_pin:before {
  position: absolute;
  top: -5px;
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background: url(../img/pin.png) no-repeat center;
  border: 1px solid #baa996;
  background-color: #f7f7f7;
  border-radius: 50%;
}
.header_button {
  border-radius: 20px;
  width: 100%;
  height: 40px;
  line-height: 38px;
}
.logo img {
  max-width: 167px;
}
/*************************/

/* INTRO */
.intro {
  background: url(../img/introbg.jpg) no-repeat center bottom;
  background-size: cover;
}
.intro_form {
  box-shadow: -3px 4px 35px 0px rgba(1, 2, 2, 0.09);
  border-radius: 20px;
  width: 100%;
  padding: 35px 65px;
  background-color: #fff;
}
.phone_input-wrapper {
  position: relative;
}
.phone_input-wrapper input {
  width: 100%;
  border: 1px solid #e3e3e6;

  line-height: 38px;
  border-radius: 20px;
}
.phone_input-wrapper .btn_main {
  position: absolute;
  right: 0;
}
.phone_input {
  padding-left: 100px;
  background-color: #f7f7f7;
}
.phone_input-wrapper:before {
  content: "";
  position: absolute;
  background: url(../img/phone.png) no-repeat center;
  background-size: cover;
  width: 19px;
  height: 18px;
  top: 12.5px;
  left: 20px;
}
.intro .phone_input-wrapper:after {
  content: "";
  position: absolute;
  background: url(../img/gift.png) no-repeat center;
  background-size: cover;
  width: 91px;
  height: 101px;
  top: -40px;
  right: -35px;
}
.intro .btn_main {
  text-align-last: left;
  padding-left: 35px;
}
/*************************/
/* subintro_advantages */
.subintro_advantages {
  margin-top: -30px;
}
.advantages_item {
  padding: 28px 35px;
  height: 100%;
  border-radius: 20px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
}
.advantages_item img {
  margin-right: 35px;
}

/*****************/

/* SERVICES */
.services .img-wrap {
  border: 1px solid #8c6a46;
  border-radius: 50%;
  padding: 2vw 0;
}

/*****************/
/* WORKS */
.works {
  padding: 45px 0;
}
.works img {
  width: 100%;
}
/**************/

/* WORKS_COMPARE */
.works_compare {
  background-color: #f7f7f7;
  padding-bottom: 0;
}
.works_compare-mainrow {
  margin-bottom: -50px;
}
.reveal {
  position: relative;
  width: 100%;
  height: 340px;
  margin: 2em auto;
  border: solid 3px #fff;
  margin-bottom: 20px;
}
.after-wrap,
.before-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.before-wrap,
.before-wrap img {
  left: 0;
}
.after-wrap,
.after-wrap img {
  right: 0;
}
.after-wrap {
  width: 50%;
  border-left: solid 2px #000;
}
.reveal img {
  width: 255px;
  display: block;
  position: absolute;
  height: 100%;
  max-width: unset;
}
.slider_compare {
  position: absolute;
  top: 0;
  left: -50px;
  display: block;
  -webkit-appearance: none;
  height: 100%;
  width: calc(100% + 50px) !important;
  background: 0 0;
  outline: 0;
}
.slider_compare::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  height: 50px;
  width: 50px;
  left: 26px;
  background: rgba(0, 0, 0, 0) url(../img/comp.png) 50%/30px 30px no-repeat;

  display: block;
  cursor: pointer;
}
.slider_compare:focus::-webkit-slider-thumb,
.slider_compare:hover::-webkit-slider-thumb {
  display: block;
}
.chemical_compare {
  padding: 60px 0;
  background-color: #33364c;
}
.reveal_nav {
  width: 100%;
}
.reveal_nav .col-xs-4:first-child {
  padding-left: 0;
}
.reveal_nav .col-xs-4 img {
  width: 100%;
  cursor: pointer;
}
.reveal_nav .col-xs-4:last-child {
  padding-right: 0;
  padding-left: 10px;
}
.reveal_nav .col-xs-4:nth-child(2) {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.chemical_compare-descr {
  color: #fff;
  font-family: Cambria;
}
.chemical_compare-descr h3 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.chemical_compare-descr p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}
.chemical_compare-descr h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
}
.chemical_compare-descr a {
  margin-top: 40px;
  margin-right: auto;
  margin-left: 0;
}
.chemical_compare .reveal {
  display: none;
  opacity: 0;
}
.reveal.active {
  display: block;
  opacity: 1;
}
@media (max-width: 768px) {
  .reveal_nav img {
    width: 100%;
  }
  .chemical_compare {
    padding: 40px 0;
  }
  .reveal_nav {
    height: 80px;
    margin-bottom: 20px;
  }
  .chemical_compare-descr h3 {
    font-size: 24px;
    text-align: center;
  }
  .reveal_nav-item-1 {
    padding-left: 0;
  }
  .reveal_nav-item-3 {
    padding-right: 0;
  }
  .reveal_nav-item-2 {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  .chemical_compare-descr a {
    margin-right: auto;
    margin-left: auto;
  }
}
/*************/

/* sendprice */
.sendprice {
  padding-top: 160px;
}
.sendprice_maincol {
  box-shadow: -3px 4px 35px 0px rgba(1, 2, 2, 0.09);
  border-radius: 20px;
  background-color: #f7f7f7;
  padding: 80px;
  padding-bottom: 50px;
  position: relative;
}
.sendprice_form {
  z-index: 1;
}
.sendprice_formcol {
  z-index: 1;
}
.sendprice_form:before {
  content: "";
  position: absolute;
  right: -174px;
  top: -110px;
  width: 930px;
  z-index: -1;
  height: 694px;
  background: url(../img/book.png) no-repeat center;
}
.sendprice_form {
  padding: 50px;
  box-shadow: -3px 4px 35px 0px rgba(1, 2, 2, 0.09);
  border-radius: 20px;
  background-color: #fff;
}
.dp_radio_row label {
  cursor: pointer;
  text-align: center;
}
.dp_radio_row span {
  display: block;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  background-color: #fff;
  margin-bottom: 5px;
}
.dp_radio_row small {
  opacity: 0.75;
}
.dp_radio_row {
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-between;
}
/*************************/

/* manager_info */
.manager_info .advantages_item {
  box-shadow: none;
  background-color: transparent;
  border-top: 1px solid #e3e3e6;
  border-radius: 0;
  min-height: 165px;
  height: auto;
}
.manager_info .col-lg-4 .advantages_item:last-child {
  border-bottom: 1px solid #e3e3e6;
}
