@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1220px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1520px;
  }
}

body {
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  line-height: 1.2;
  color: #4a4a4a;
}
button {
  border: none;
  background: transparent;
  outline: none;
}
.close {
  margin-left: auto;
  font-size: 30px;
  margin-right: -12px;
  margin-top: -22px;
  margin-bottom: -10px;
}

.text-18 {
  font-size: 1.125rem;
}
.text-20 {
  font-size: 1.25rem;
}
.text-24 {
  font-size: 1.5rem;
}
.text-30 {
  font-size: 1.9rem;
}
.text,
.text-small,
.text-smallest {
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
}
.text-small {
  font-size: 0.875rem;
}
.text-smallest {
  font-size: 0.75rem;
}
.lighten {
  opacity: 0.75;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
a,
b {
  font-family: "Proxima Nova", sans-serif;
  text-decoration: none;
  color: #4a4a4a;
}
h1,
.h1 {
  font-size: 2.8rem;
  font-weight: bold;
}
h2,
.h2 {
  font-size: 2.25rem;
  font-weight: bold;
}
h3,
.h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
img {
  max-width: 100%;
}
.gold {
  color: #8c6a46 !important;
}
.border-gold {
  border: 1px solid #8b6a47;
}
.underline {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}
section {
  padding: 70px 0;
}
[type="checkbox"],
[type="radio"] {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.violet {
  color: #9d57d5;
}
.bold {
  font-weight: bold;
}
.ff_bold {
  font-family: "proxima nova rg", sans-serif;
}
.ff_black {
  font-family: "proximanovabl", sans-serif;
}
.ff_sb {
  font-family: "proxima nova lt", sans-serif;
}
.lightgold {
  color: #d7bc99;
}
.btn_main {
  height: 41px;
  background-image: linear-gradient(
    126deg,
    #9c7a49 6%,
    #623500 50%,
    #805937 94%
  );
  border: 1px solid #8b6a47;
  border-radius: 20px;
  width: 100%;
  max-width: 192px;
}
.btn_main span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 40px;
  opacity: 0.74;
  font-family: "Proxima Nova";

  line-height: 1.2;
  font-weight: 400;
}
.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}
@media screen and (max-width: 769px) {
  h1,
  .h1 {
    font-size: 1.8rem;
  }
  h2,
  .h2 {
    font-size: 1.65rem;
  }
  .text-30 {
    font-size: 1.5rem;
  }
  h3,
  .h3 {
    font-size: 1.05rem;
  }
  section,
  .intro {
    padding: 30px 0;
  }
}
/* header */
header {
  padding: 10px 0;
  background-color: #fff;
}
.header_pin {
  position: relative;
}
.header_pin:before {
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background: url(../img/pin.png) no-repeat center;
  border: 1px solid #baa996;
  background-color: #f7f7f7;
  border-radius: 50%;
}
.header_button {
  border-radius: 20px;
  width: 100%;
  height: 40px;
  line-height: 38px;
}
.logo img {
  width: 167px;
  max-width: 100%;
}
/*************************/

/* INTRO */
.intro {
  background: url(../img/introbg.jpg) no-repeat center bottom;
  background-size: cover;
}
.intro_form {
  box-shadow: -3px 4px 35px 0px rgba(1, 2, 2, 0.09);
  border-radius: 20px;
  width: 100%;
  padding: 35px 65px;
  background-color: #fff;
}
.phone_input-wrapper {
  position: relative;
}
.phone_input-wrapper input {
  width: 100%;
  border: 1px solid #e3e3e6;

  line-height: 38px;
  border-radius: 20px;
}
.phone_input-wrapper .btn_main {
  position: absolute;
  right: 0;
}
.phone_input {
  padding-left: 100px;
  background-color: #f7f7f7;
}
.phone_input-wrapper:before {
  content: "";
  position: absolute;
  background: url(../img/phone.png) no-repeat center;
  background-size: cover;
  width: 19px;
  height: 18px;
  top: 12.5px;
  left: 20px;
}
.intro .phone_input-wrapper .btn_main:after {
  content: "";
  position: absolute;
  background: url(../img/gift.png) no-repeat center;
  background-size: cover;
  width: 91px;
  height: 101px;
  top: -40px;
  right: -35px;
}
.intro .btn_main {
  text-align-last: left;
  padding-left: 35px;
}
@media screen and (max-width: 769px) {
  .phone_input-wrapper input {
    padding-left: 50px;
  }
}
@media screen and (max-width: 580px) {
  .phone_input-wrapper input {
    padding-left: 0;
  }
  .intro .phone_input-wrapper .btn_main {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 100%;
    text-align-last: center;
    padding-left: 0;
    padding-right: 40px;
    margin-bottom: 0;
  }
  .intro_form {
    padding: 30px;
  }
  .intro .phone_input-wrapper .btn_main:after {
    right: -5px;
  }
}
/*************************/
/* subintro_advantages */
.subintro_advantages {
  margin-top: -30px;
}
.advantages_item {
  padding: 28px 35px;
  height: 100%;
  border-radius: 20px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
}

.advantages_item img {
  margin-right: 35px;
}
@media (max-width: 1200px) {
  .advantages_item img {
    margin-right: 15px;
  }
  .advantages_item {
    padding: 20px;
  }
}

/*****************/

/* SERVICES */
.services .img-wrap {
  border: 1px solid #8c6a46;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.swiper-horizontal > .swiper-scrollbar {
  bottom: 0;
}
/*****************/
/* WORKS */
.works {
  padding: 45px 0 70px;
}
.works img {
  width: 100%;
}

.collapse_button-wrapper {
  width: 100%;
  padding-top: 80px;
  position: absolute;
  bottom: 0;
  display: block;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0.6) 40%,
    rgba(255, 255, 255, 0.9) 60%,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
  margin-top: -40px;
}
/**************/

/* WORKS_COMPARE */
.works_compare {
  background-color: #f7f7f7;
  padding-bottom: 0;
}
.works_compare-mainrow {
  margin-bottom: -50px;
}
.reveal {
  position: relative;
  width: 100%;
  height: 340px;
  margin: 2em auto;
  border: solid 3px #fff;
  margin-bottom: 20px;
  max-width: 255px;
}
.after-wrap,
.before-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.before-wrap,
.before-wrap img {
  left: 0;
}
.after-wrap,
.after-wrap img {
  right: 0;
}
.after-wrap {
  width: 50%;
  border-left: solid 2px #000;
}
.reveal img {
  width: 255px;
  display: block;
  position: absolute;
  height: 100%;
  max-width: unset;
}
.slider_compare {
  position: absolute;
  top: 0;
  left: -50px;
  display: block;
  -webkit-appearance: none;
  height: 100%;
  width: calc(100% + 50px) !important;
  background: 0 0;
  outline: 0;
}
.slider_compare::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  height: 50px;
  width: 50px;
  left: 26px;
  background: rgba(0, 0, 0, 0) url(../img/comp.png) 50%/30px 30px no-repeat;

  display: block;
  cursor: pointer;
}
.slider_compare:focus::-webkit-slider-thumb,
.slider_compare:hover::-webkit-slider-thumb {
  display: block;
}
.chemical_compare {
  padding: 60px 0;
  background-color: #33364c;
}
.reveal_nav {
  width: 100%;
}
.reveal_nav .col-xs-4:first-child {
  padding-left: 0;
}
.reveal_nav .col-xs-4 img {
  width: 100%;
  cursor: pointer;
}
.reveal_nav .col-xs-4:last-child {
  padding-right: 0;
  padding-left: 10px;
}
.reveal_nav .col-xs-4:nth-child(2) {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.chemical_compare-descr {
  color: #fff;
  font-family: Cambria;
}
.chemical_compare-descr h3 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.chemical_compare-descr p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}
.chemical_compare-descr h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
}
.chemical_compare-descr a {
  margin-top: 40px;
  margin-right: auto;
  margin-left: 0;
}
.chemical_compare .reveal {
  display: none;
  opacity: 0;
}
.reveal.active {
  display: block;
  opacity: 1;
}
@media (max-width: 768px) {
  .reveal_nav img {
    width: 100%;
  }
  .chemical_compare {
    padding: 40px 0;
  }
  .reveal_nav {
    height: 80px;
    margin-bottom: 20px;
  }
  .chemical_compare-descr h3 {
    font-size: 24px;
    text-align: center;
  }
  .reveal_nav-item-1 {
    padding-left: 0;
  }
  .reveal_nav-item-3 {
    padding-right: 0;
  }
  .reveal_nav-item-2 {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  .chemical_compare-descr a {
    margin-right: auto;
    margin-left: auto;
  }
}
/*************/

/* sendprice */
.sendprice {
  padding-top: 160px;
  overflow: hidden;
}
.sendprice_maincol {
  box-shadow: -3px 4px 35px 0px rgba(1, 2, 2, 0.09);
  border-radius: 20px;
  background-color: #f7f7f7;
  padding: 80px;
  padding-bottom: 50px;
  position: relative;
}
.sendprice_form {
  z-index: 1;
}
.sendprice_formcol {
  z-index: 1;
}
.sendprice_form:before {
  content: "";
  position: absolute;
  right: -15%;
  top: -110px;
  width: 930px;
  z-index: -1;
  height: 694px;
  background: url(../img/book.png) no-repeat center;
}
.sendprice h2,
.sendprice p {
  position: relative;
  z-index: 2;
}
.sendprice_form {
  padding: 50px;
  box-shadow: -3px 4px 35px 0px rgba(1, 2, 2, 0.09);
  border-radius: 20px;
  background-color: #fff;
}
.dp_radio_row label {
  cursor: pointer;
  text-align: center;
}
.dp_radio_row span {
  display: block;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  background-color: #fff;
  margin-bottom: 5px;
}
.dp_radio_row small {
  opacity: 0.75;
}
.dp_radio_row {
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-between;
}
.sendprice_form-wrapper {
  position: relative;
  width: 100%;
}
.pdf {
  background: #f7f7f7;
  border: 1px solid #baa996;
  box-sizing: border-box;
  border-radius: 50%;
  width: 105px;
  height: 105px;
  right: -101px;
  position: absolute;
  top: 40px;
}
.pdf:before {
  pointer-events: none;
  width: 93px;
  height: 93px;
  border: 1px solid #baa996;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 15px;
  top: 5px;
  left: 5px;
  transition: all 0.4s;
}
.pdf:before {
  -webkit-animation-name: anim;
  animation-name: anim;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .sendprice_form:before {
    display: none;
  }
  .sendprice_maincol {
    padding: 50px;
  }
  .sendprice {
    padding-top: 70px;
    overflow: hidden;
  }
}
@media (max-width: 540px) {
  .sendprice_maincol {
    padding: 30px 10px;
  }
  .dp_radio_row {
    padding: 0;
  }
  .sendprice_form {
    padding: 20px;
    padding-top: 65px;
  }
  .pdf {
    background: #f7f7f7;
    border: 1px solid #baa996;
    box-sizing: border-box;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    right: calc(50% - 52px);
    position: absolute;
    top: -115px;
  }
  .phone_input-wrapper .btn_main {
    position: relative;
    margin-top: 20px;
    width: 100%;
    min-width: 100%;
  }
  .phone_input-wrapper input {
    text-align: center !important;
  }
}
/*************************/

/* manager_info */
.manager_info .advantages_item {
  box-shadow: none;
  background-color: transparent;
  border-top: 1px solid #e3e3e6;
  border-radius: 0;
  min-height: 165px;
  height: auto;
}
.manager_info .col-lg-4 .advantages_item:last-child {
  border-bottom: 1px solid #e3e3e6;
}

/************************/

/* questions */
.questions {
  background-color: #f7f7f7;
}
.accordeon {
  list-style: none;
  padding-left: 0;
}
.accordeon_item {
  padding: 30px 100px 25px 60px;
  border-top: 1px solid #e3e3e6;
}
.accordeon_item:last-child {
  border-bottom: 1px solid #e3e3e6;
}
.accordeon_item.active {
  background-color: #fff;
}
.accordeon_title {
  cursor: pointer;
  position: relative;
}
.accardeon_title-arrow {
  position: absolute;
  top: 5px;
  left: -30px;
  width: 10px;
  height: 10px;
  border-bottom: 2.5px solid #b9b9b9;
  border-right: 2.5px solid #b9b9b9;
  content: "";
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.accardeon_title-arrow:before {
  position: absolute;
  top: 2.4px;
  left: -3.64px;
  width: 14px;
  height: 2px;
  background-color: #b9b9b9;
  content: "";
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 5px;
}
.active .accardeon_title-arrow {
  border-bottom: 2.5px solid #8c6a46;
  border-right: 2.5px solid #8c6a46;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.active .accardeon_title-arrow:before {
  background-color: #8c6a46;
}

.accardeon_title-number {
  position: absolute;
  top: -7px;
  right: -80px;
  width: 10px;
  height: 10px;
  border: 1px solid #b9b9b9;
  border-radius: 50%;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  color: #b9b9b9;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active .accardeon_title-number {
  border: 1px solid transparent;
  color: #fff;
  background-color: #c7a375;
}
@media (max-width: 768px) {
  .accordeon_item {
    padding: 20px 10px 20px 20px;
  }
  .accordeon_title {
    padding-left: 20px;
    padding-right: 30px;
  }
  .accardeon_title-arrow {
    left: -5px;
  }
  .accardeon_title-number {
    position: absolute;
    top: -7px;
    right: -5px;
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .questions .col-md-6 {
    padding: 0 !important;
  }
  .questions_wrapper {
    flex-direction: column;
  }
}
/*****************/
/* testimonials */
.testimonials .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  /*padding-left: 45px;*/
}

.testimonials .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 600px;
  /* margin: 0 22px;*/
}
.testimonials_card {
  padding: 20px 10px;
  background-color: #f9f9f9;
  height: 100%;
  border-radius: 30px;
  border: 1px solid #fff;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) -1.5px 1.5px 2px;
}

.tetimonials_card-wrapper {
  height: 100%;
  /*border: 4px solid #f9f9f9;*/
  border-radius: 35px;
  width: 100%;
  padding: 4px;
  background-color: #f3f3f3;
  border: 1px solid #fff;
  box-shadow: #c7c6c7 -10px 0px 0px;
}
.testimonials .swiper-slide-active .tetimonials_card-wrapper {
  box-shadow: #c7c6c7 -2px 0px 10px;
}

.swiper-slide .phone-button {
  height: 20px;
  width: 4px;
  background-color: #b0b0b0;
  position: absolute;
  left: -8px;
  top: 160px;
  border-radius: 30%;
  border: 1px solid #979697;
  border-left: none;
  box-shadow: none;
}
.swiper-slide .phone-button:nth-child(2) {
  height: 40px;
  top: 200px;
  border-radius: 30%;
}
.swiper-slide .phone-button:nth-child(3) {
  height: 40px;
  top: 260px;
  border-radius: 30%;
}
.swiper-slide .phone-button:nth-child(4) {
  display: none;
}
.swiper-slide-active .phone-button {
  height: 20px;
  width: 3px;
  background-color: #f3f3f3;
  position: absolute;
  content: "";
  left: -3.5px;
  top: 160px;
  border-radius: 5px;
  border: 1px solid #a1a1a1b0;
  border-left: none;
  box-shadow: #c7c6c78a -1px 0px 4px;
}
.swiper-slide-active .phone-button:nth-child(2) {
  height: 40px;
  top: 200px;
}
.swiper-slide-active .phone-button:nth-child(3) {
  height: 40px;
  top: 260px;
}
.swiper-slide-active .phone-button:nth-child(4) {
  display: block;
  height: 60px;
  width: 4px;
  background-color: #f3f3f3;
  position: absolute;
  content: "";
  right: -4px;
  left: auto;
  top: 200px;
  border-radius: 10px;
  border: 1px solid #a1a1a166;
  border-right: none;

  box-shadow: #c7c6c78a 0.5px 0px 1px;
}

.swiper-slide-next .tetimonials_card-wrapper,
.swiper-slide-next + .swiper-slide .tetimonials_card-wrapper {
  box-shadow: #c7c6c7 10px 1px 0px;
}
.swiper-slide-next .testimonials_card:before {
  opacity: 0;
}
.swiper-slide-next .phone-button {
  display: none;
}

.swiper-slide-next .phone-button:nth-child(4),
.swiper-slide-next + .swiper-slide .phone-button:nth-child(4) {
  display: block;
  height: 60px;
  width: 4px;
  background-color: #b0b0b0;
  position: absolute;
  left: auto;
  right: -8px;
  top: 200px;
  border-radius: 30%;
  border: 1px solid #979697;
  border-right: none;
  box-shadow: none;
}

.testimonials .swiper-slide img {
  display: block;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.589);
}
.testimonials .swiper-slide-shadow-left,
.testimonials .swiper-slide-shadow-right {
  border-radius: 40px;
}
/**************************/
/* map */
.map {
  background-color: #c7a375;
  padding: 0;
  color: white;
}
.map_toprow {
  padding: 18px 0 13px;
}
.map_toprow p {
  position: relative;
  color: white;
}
.map_toprow b,
.map_toprow span {
  color: #fff;
}
.footer_pin:before {
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background: url(../img/pin.png) no-repeat center;
  border: 1px solid #baa996;
  background-color: #fff;
  border-radius: 50%;
}
.footer_time:before {
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background: url(../img/time.png) no-repeat center;
  border: 1px solid #baa996;
  background-color: #fff;
  border-radius: 50%;
}
.footer_phone:before {
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background: url(../img/phone.png) no-repeat center;
  border: 1px solid #baa996;
  background-color: #fff;
  border-radius: 50%;
}
.map iframe {
  width: 100% !important;
  margin-top: 5px;
  margin-bottom: -5px;
}
.testimonials .swiper-pagination-bullet-active {
  background-color: #c7a375 !important;
}

/* sendprice */
.sendprice_slide {
  display: none;
}
.sendprice_slide.active {
  display: block;
}
.quiz_steps {
  display: flex;
}
.step {
  width: 60px;
  height: 60px;
  border: 1px solid #baa996;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step.active {
  width: 52px;
  height: 52px;
  outline: thick double #baa996;
  background-color: #d7bc99;
  border: none;
  margin-top: 4px;
  margin-left: 4px;
}
.step.active span {
  color: black !important;
  padding-top: 2px;
}
.picture-checkbox1 + span {
  position: relative;
  background-color: #fff;
  display: block;
  padding-left: 15px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;

  border: 1px solid transparent;
}
.picture-checkbox1:checked + span {
  border: 1px solid #623500;
  color: #623500;
  transition: all 0.3s ease;
}
.sendprice_slide .col-md-6 {
  position: relative;
}
.slide-1 .picture-checkbox {
  width: 100%;
  height: 300px;
  padding: 30px 20px;
}
.picture-checkbox {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 30px 20px;
  box-shadow: -3px 4px 35px 0px rgba(1, 2, 2, 0.09);
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}
.slide-1 .col-md-6:first-child .picture-checkbox {
  background: url(../img/q1.jpg) no-repeat center;
  background-size: cover;
}
.slide-1 .col-md-6:last-child .picture-checkbox {
  background: url(../img/q2.jpg) no-repeat center;
  background-size: cover;
}
.picture-checkbox1 + span:before,
.picture-checkbox1 + span:after {
  content: "";
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  margin: 4px;
  width: 27px;
  height: 27px;
  z-index: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
  border-color: #c2c2c2;
}
.picture-checkbox1:checked + span:after {
  content: "";
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  margin: 4px;
  width: 27px;
  height: 27px;
  transform: scale(0.85);
  border-radius: 50%;
  background-color: #623500;
  transition: 0.3s ease;
}
section {
  display: none;
}
.sendprice {
  display: block;
}
.slide-2 {
}
