// _contacts.scss

.contacts{
  width: 80%;
  padding: 2em 10%;
  padding-top: 80px;
  margin: auto;
  background: $white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  .contacts__content{
    width: 95%;
    margin: auto;
    margin-top: 0em;
    margin-left: 0em;

    h1{
      font-size: 2em;
      font-weight: 300;
      padding-bottom: .32em;
      border-bottom: 1px dotted $primary;
      margin: auto;
      margin-left: 0em;
      margin-top: 0em;
      margin-bottom: .5em;
      text-transform: uppercase;
    }
    h2{
      font-weight: 400;
      font-size: 1.2em;
      text-transform: uppercase;
      margin: .32em auto;
      margin-left: 0em;
      padding: $padding_medium;
      background: $primary_hover;
      color: $white;
      border-radius: .4em;
      margin-bottom: 1em;
      margin-top: 2em;
    }
    a{
      text-decoration: none;
      margin-top: .32em auto;
      margin-left: 0em;
    }
    p{
      color: $dark;
    }
    address{
      color: $dark;
      @extend %flex_column;
      span{
        margin: .5em auto;
        margin-left: 0em;
      }
    }
    h3{
      color: $primary_hover;
    }
  }
  form{
    width: 95%;
    margin: auto;
    margin-top: 0em;
    @extend %flex_column;
    legend{
      color: $dark;
      font-size: 1.1em;
      text-align: left;
      margin: .32em auto;
      margin-left: 0em;
      padding-bottom: .32em;
      border-bottom: 1px dotted #ccc;
    }
    input, textarea{
      max-width: 280px;
      border: 0px;
      border-bottom: 1px solid #ccc;
      margin: .5em auto;
      padding: $padding_medium;
      padding-left: .32em;
      padding-right: .32em;
      margin-left: 0em;
    }
    button{
      padding: $padding_medium;
      border-radius: .32em;
      margin: .5em auto;
      margin-left: 0em;
    }
  }
}

.ymap{
  width: 80%;
  padding: 2em 10%;
  margin: auto;
  margin-top: 0em;
  @extend %flex_column;
  h2{
    margin: auto;
    text-align: center;
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 1081px){
  .contacts{
    .contacts__content{
      h2{
        font-size: 1.0em;
        font-weight: 500;
      }
    }
  }
}
@media screen and (max-width: 809px){
  .contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form{
      input, textarea{
        min-width: 0px;
        width: auto;
        max-width: calc(100% - 2em);
      }
    }
  }
}
