// _istrion.scss

@keyframes bganim {
  0%{
    background-size: 100%;
    background-position: 0% 0%;
  }

  30%{
    background-size: 150%;
    background-position: 20% 50%;
  }

  60%{
    background-size: 200%;
    background-position: 80% 5%;
  }

  85%{
    background-size: 179%;
    background-position: 80% 5%;
  }


  100%{
    background-size: 100%;
    background-position: 0% 0%;
  }
}

.header__istrion {
  width: 80%;
  height: auto;
  min-height: calc(70vh - 2em - 100px);
  padding: 2em 10%;
  padding-top: 100px;
  @extend %flex_column;
  background: url('/dist/i/istrion_header_bg.jpg');
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100%;
  animation-name: bganim;
  animation-duration: 16s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  img{
    max-width: 80%;
    height: auto;
    margin: auto;
    margin-left: 0em;
    margin-bottom: 0em;
    padding: 0em;
  }
  span{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.66em;
    margin: 0em auto;
    margin-left: 0em;
  }
  h1{
    margin: 1em auto;
    margin-left: 0em;
    margin-bottom: auto;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.8em;
    max-width: 80%;
  }
}

@media screen and (max-width: 1199px){
  .header__istrion{
    background: url('/dist/i/istrion_header_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: none;
    animation-duration: 0s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 0;
    animation-direction: normal;
    animation-play-state: paused;
    img{
      max-width: 240px;
    }
    span{
      font-size: 1.1em;
    }
  }
}

@media screen and (max-width: 1199px){
  .header__istrion{
    img{
      max-width: 200px;
    }
    span{
      font-size: 1.0em;
    }
    h1{
      font-size: 1.6em;
      max-width: 90%;
    }
  }
}

.istrion___stat{
  width: 80%;
  height: auto;
  padding: 2em 10%;
  @extend %flex_row;
  background: $white;
  align-items: center;
  justify-content: center;
  .istrion___stat_count{
    width: auto;
    min-width: 320px;
    padding: 2em 1em;
    border-radius: 1em;
    box-shadow:  0px 0px 4em rgba(0, 0, 0, .1);
    background: $white;
    margin: auto;
    margin-right: 1em;
    margin-top: 0em;
    @extend %flex_column;
    align-items: center;
    justify-content: center;
    h3{
      font-size: 6em;
      font-weight: 200;
      padding: 0em;
      margin: 0em auto;
      color: $primary;
    }
    p{
      padding: 0em;
      text-align: center;
      margin: .32em auto;
      font-size: 1.2em;
      text-transform: uppercase;
    }
  }
  .istrion___stat_content{
    width: auto;
    height: auto;
    padding: 2em 1em;
    @extend %flex_column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow:  0px 0px 4em rgba(0, 0, 0, .1);
    background: $white;
    margin: auto;
    margin-top: 0em;
    border-radius: 1em;
    p{
      font-size: 1.08em;
      padding: 0em;
      margin: .5em auto;
      margin-left: 0em;
    }
    h4{
      font-size: 1.2em;
      font-weight: 600;
      padding: 0em;
      margin: .5em auto;
      margin-left: 0em;
      margin-bottom: 0em;
      color: $primary;
    }
  }
}

@media screen and (max-width: 811px){
  .istrion___stat{
    flex-direction: column;
    .istrion___stat_count,
    .istrion___stat_content{
      min-width: 0em;
      width: calc(95% - 2em);
      margin: 1em auto;
    }
  }
}


.istrion__advantages{
  width: 80%;
  height: auto;
  padding: 2em 10%;
  @extend %flex_column;
  background: $white;
  align-items: flex-start;
  justify-content: flex-start;
  h2{
    padding-bottom: .5em;
    border-bottom: 2px dotted $primary_hover;
    font-size: 2em;
    font-weight: 300;
  }
  p{
    font-size: 1.08em;
    padding: 0em;
    margin: .5em auto;
    margin-left: 0em;
  }
  h3{
    font-weight: 300;
    font-size: 1.4em;
    margin: .5em auto;
    margin-left: 0em;
    margin-bottom: 0em;
  }
  ol{
    font-size: 1.08em;
    padding: 0em;
    padding-left: 1.08em;
    li{
      margin-top: .2em;
    }
  }
}

.istrion___examples{
  width: 80%;
  height: auto;
  padding: 2em 10%;
  padding-top: 0em;
  padding-bottom: 4em;
  background: $white;
  @extend %flex_column;
  align-items: flex-start;
  justify-content: flex-start;
  h2{
    padding-bottom: .5em;
    border-bottom: 2px dotted $primary_hover;
    font-size: 2em;
    font-weight: 300;
  }
  .istrion___examples_wrapper{
    width: 100%;
    padding: 0em;
    margin: auto;
    margin-top: 0em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4em;
    .istrion___examples_item{
      width: calc(100% - 2em);
      padding: 1em;
      @extend %flex_column;
      align-items: center;
      justify-content: center;
      background: $white;
      box-shadow: 0px 0px 3em rgba(0, 0, 0, .1);
      border-radius: 1em;
      img{
        max-width: 100%;
        height: auto;
        border-radius: 1em;
      }
      p{
        max-width: 90%;
        text-align: center;
        margin: .5em auto;
        font-weight: 300;
        font-size: 1.08em;
      }
      span{
        font-weight: 300;
        font-size: 1.2em;
        padding: $padding_medium;
        background: #ccc;
        margin: .32em auto;
        border-radius: .32em;
      }
      span#was{
        background: $dark;
        color: $light;
        font-size: 1em;
      }
      span#now{
        background: $primary;
        color: $white;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 1241px){
  .istrion___examples{
    .istrion___examples_wrapper{
      grid-column-gap: 1em;
    }
  }
}
@media screen and (max-width: 1024px){
  .istrion___examples{
    .istrion___examples_wrapper{
      grid-column-gap: 1em;
      .istrion___examples_item{
        p{
          font-size: 1em;
        }
        span#was, span#now{
          font-size: .88em
        }
      }
    }
  }
}

@media screen and (max-width: 811px){
  .istrion___examples{
    .istrion___examples_wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .istrion___examples_item{
        margin: 1em auto;
        p{
          font-size: 1.08em;
        }
        span#was, span#now{
          font-size: 1.1em
        }
      }
    }
  }
}



.istrion__form{
  width: 80%;
  height: auto;
  padding: 2em 10%;
  @extend %flex_column;
  background: linear-gradient(120deg, $primary, $primary_hover);
  align-items: center;
  justify-content: center;
  h2,p{
    color: $white;
    margin: .5em auto;
    margin-left: 0em;
    text-align: left;
  }
  h2{
    font-weight: 300;
    font-size: 2em;
  }
  p{
    font-size: 1.08em;
  }
}
.istrion__form.white{
  background: $white;
  h2{
    color: $black;
    margin: .5em auto;
    margin-top: 0em;
    text-align: center;
  }
  form{
    max-width: 90%;
    @extend %flex_column;
    margin: .5em auto;
    input, button{
      max-width: 80%;
      margin: .5em auto;
      border: 0px;
      border-radius: .32em;
    }
    input{
      box-shadow: 0px 0px 2em rgba(0, 0, 0, .1);
      padding: $padding_medium;
    }
  }
}
