
.header__mezonin{
  width: 100%;
  height: auto;
  min-height: calc(100vh - 2em - 100px);
  padding: 2em 0;
  padding-bottom: 0em;
  @extend %flex_column;
  background: url('/dist/i/mezonin/mezonin_header__bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1{
    font-size: 4em;
    text-transform: uppercase;
    margin: 1em auto;
    margin-left: 10%;
    margin-top: auto;
  }

  .header__mezonin_advantages{
    margin: 1em auto;
    margin-left: 10%;
    list-style: none;
    padding: 0em;
    li{
      list-style: none;
      margin: .4em auto;
      text-transform: uppercase;
      font-size: 1.2em;
      span{
        color: $primary;
        margin-right: .32em;
      }
    }
  }

  a.button{
    text-transform: uppercase;
    text-align: center;
    margin: 1em auto;
    margin-left: 10%;
    margin-bottom: auto;
    border-radius: .32em;
  }
}

.header__mezonin.zru__bg{
  background: url('/dist/i/zru/zru_header__bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__mezonin::after{
  width: 100%;
  height: 20px;
  display: block;
  margin: 0em;
  padding: 0em;
  margin-top: 2em;
  background: url('/dist/i/mezonin/mezonin_content__top.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '&nbsp';
  position: sticky;
  bottom: 0px;
  left: 0px;
  color: rgba(255,255,255,0);
}
.header__mezonin.zru__bg::after{
  background: none;
}


@media screen and (max-width: 1024px){
  .header__mezonin{
    h1{
      font-size: 3em;
    }
  }
}

@media screen and (max-width: 429px){
  .header__mezonin{
    h1{
      font-size: 1.6em;
      font-weight: 900;
    }
    .header__mezonin_advantages{
      li{
        font-size: 1em;
      }
    }
    a.button{
      padding-top: 1.24em;
      padding-bottom: 1.24em;
      font-size: .8em;
    }
  }
}

@media screen and (max-width: 391px){
  .header__mezonin{
    padding-top: 80px;
    h1{
      font-size: 1.4em;
      font-weight: 900;
    }
    a.button{
      font-size: .8em;
    }
  }
}
@media screen and (max-width: 321px){
  .header__mezonin{
    padding-top: 80px;
    h1{
      font-size: 1.2em;
      font-weight: 900;
    }
    .header__mezonin_advantages{
      li{
        font-size: .8em;
      }
    }
    a.button{
      padding: 1em;
      font-size: .7em;
      font-weight: 600;
    }
  }
}

.main__mezonin{
  width: 100%;
  @extend %flex_column;
  height: auto;
  padding: 0em;
  margin: 0em;
  overflow-x: hidden;
}

.mezonin_content{
  width: 80%;
  height: auto;
  min-height: 40vh;
  padding: 2em 10%;
  padding-bottom: 4em;
  @extend %flex_column;
  transform: translateY(-20px);
  background: url('/dist/i/mezonin/mezonin_content__bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2{
    color: $white;
    font-weight: 300;
    font-size: 3em;
  }
  .mezonin_content__wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
  }
  .mezonin_content__product{
    width: 100%;
    max-width: 320px;
    height: auto;
    padding: 0em;
    padding-bottom: 2em;
    margin: auto;
    margin-top: 0em;
    @extend %flex_column;
    background: $white;
    border-radius: .6em;
    img{
      max-width: 100%;
      height: auto;
      border-radius: .6em .6em 0em 0em;
    }
    h3{
      margin: auto;
      margin-top: 1em;
      padding: 0em;
      margin-bottom: .32em;
      text-align: center;
    }
    p{
      max-width: 90%;
      padding: 0em;
      margin: .4em auto;
      text-align: center;
    }
  }
}

.mezonin_content.zru__bg{
  background: url('/dist/i/zru/zru_content__bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1661px){
  .mezonin_content{
    .mezonin_content__wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 1em;
    }
  }
}
@media screen and (max-width: 1439px){
  .mezonin_content{
    .mezonin_content__wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row-gap: 2em;
      grid-column-gap: 1em;
    }
    .mezonin_content__product{
      h3{
        font-size: 1.0em;
      }
      p{
        font-size: .82em;
      }
    }
  }
}
@media screen and (max-width: 811px){
  .mezonin_content{
    h2{
      margin: 1em auto;
      text-align: center;
      font-size: 2.4em;
    }
    .mezonin_content__wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 2em;
      grid-column-gap: 1em;
    }

    .mezonin_content__product{
      margin: 1em auto;
    }
  }
}
@media screen and (max-width: 429px){

  .mezonin_content{
    h2{
      font-size: 1.6em;
    }
    .mezonin_content__wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 376px){
  .mezonin_content{
    h2{
      font-size: 1.4em;
    }
  }
}

.mezonin_text{
  width: 80%;
  padding: 2em 10%;
  margin: 0em;
  margin-top: -24px;
  @extend %flex_column;
  background: url('/dist/i/text__bg_v2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2,h3,h4,h5,ul{
    margin: .5em auto;
    margin-left: 0em;
  }
  ul{
    list-style: none;
    padding: 0em;
  }
  h2{
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 0em;
    text-transform: uppercase;
  }
  h3{
    font-size: 1.8em;
    font-weight: 400;
    color: $dark;
    margin-top: .2em;
    text-transform: uppercase;
    border-bottom: 2px dotted $primary;
    padding-bottom: 1em;
  }
  h4{
    font-size: 1.4em;
    font-weight: 600;
  }
  h5{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 0em;
  }
  h5#istrion{
    text-transform: uppercase;
    color: $primary;
  }
  ul{
    li{
      font-size: 1em;
      margin: .16em auto;
      margin-left: 0em;
      span{
        color: $primary;
        margin-right: .32em;
      }
    }
  }
  .mezonin_text__buttons{
    width: auto;
    height: auto;
    @extend %flex_row;
    padding: 1em 0em;
    margin: auto;
    margin-left: 0em;
    margin-top: 0em;
    a.button{
      text-transform: uppercase;
      margin:.5em;
      margin-left: 0em;
    }
  }
}

.mezonin_text.zru_text{
  padding-top: 4em;
}
@media screen and (max-width: 429px){
  .mezonin_text{
    h2{
      font-size: 2em;
    }
    h3{
      font-size: 1.2em;
    }
    h5{
      margin-top: 1em;
    }

    .mezonin_text__buttons{
      flex-direction: column;
    }
  }
}
