// _basis.scss

body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background: $white;
  font-family: $font_family;
  font-size: $font_size;
  font-weight: 400;
  color: $black;
}

h1,h2,h3,h4,h5,h6{
  color: $black;
  font-weight: inherit;
}
h1{
  font-weight: 700;
}
h2{
  font-weight: 600;
}
h3{
  font-weight: 500;
}
h4{
  font-weight: 400;
}
h5{
  font-weight: 300;
}
h6{
  font-weight: 400;
}

a, input, textarea, button{
  list-style: none;
  outline: none;
  box-shadow: none;
  border: 0px solid #fff;
  background: none;
  color: $black;
  transition: $transition;
  font-size: $font_size;
  font-family: $font_family;
}

a{
  color: $cyan;
  line-height: normal;
}
a:hover{
  color: $cyan_hover;
}

.link{
  text-decoration: none;
  color: $blue;
  padding-bottom: .08em;
  border-bottom: 1px solid $blue;
}

.link:hover{
  color: $blue_hover;
  border-bottom: 1px solid $blue_hover;
}


.button, button{
  cursor: pointer;
  padding: $padding_regular;
  background: $primary;
  text-decoration: none;
  color: $white;
  @extend %flex_row;
  @extend %flex_inline;
  @extend %flex_center;
  span#before{
    margin: auto;
    margin-right: .32em;
  }
  span#after{
    margin: auto;
    margin-left: .32em;
  }
}

.button.small, button.small{
  padding: $padding_light;
  font-size: .88em;
}
.button.medium, button.medium{
  padding: $padding_medium;
}
.button.heavy, button.heavy{
  padding: $padding_heavy;
}

.button:hover, button:hover{
  background: $black;
  color: $white;
}

input, textarea{
  border: 1px solid #e2e4e8;
  padding: $padding_regular;
  max-width: 260px;
  color: #888;
}
input:hover,
textarea:hover{
  border: 1px solid #a2a4a8;
  color: #444;
}

input:focus,
textarea:focus{
  border: 1px solid $yellow;
  color: $black;
}
input:not(:placeholder-shown),
textarea:not(:placeholder-shown){
  border: 1px solid #a2a4a8;
  color: $black;
}

a#logo{
  text-decoration: none;
  opacity: 1;
  img{
    width: auto;
    height: auto;
    max-height: 44px;
  }
}

a#logo:hover{
  opacity: .7;
}

a#tel, a#email{
  color: $dark;
  text-decoration: none;
  border-bottom: 0px;
  span{
    color: $primary;
    margin-right: .4em;
  }
}

a#tel:hover, a#email:hover{
  color: $primary;
}

address{
  font-style: normal;
}
