// _config.scss
$primary        : rgba(255, 59, 48, 1);
$primary_hover  : rgba(255, 59, 58, 1);
$orange         : rgba(255, 149, 0, 1);
$orange_hover   : rgba(255, 149, 10, 1);
$yellow         : rgba(255, 204, 0, 1);
$yellow_hover   : rgba(255, 204, 10, 1);
$green          : rgba(40, 205, 65, 1);
$green_hover    : rgba(50, 215, 75, 1);
$blue           : rgba(0, 122, 255, 1);
$blue_hover     : rgba(10, 132, 255, 1);
$cyan           : rgba(85, 190, 240, 1);
$cyan_hover     : rgba(100, 220, 250, 1);
$white          : white;
$gray           : #c8c4c2;
$black          : #080402;
$light          : rgba(255,255,255, .7);
$dark           : rgba(0,0,0, .7);
$transition     : .16s linear;
$padding_light  : .2em .6em;
$padding_regular: .4em .8em;
$padding_medium : .8em 1.6em;
$padding_heavy  : 1em 2em;
$padding_area   : 1em;
$font_size      : 1em;
$font_family    : 'fa_brands', 'fa_regular', 'fa_solid', 'sf', sans-serif;
$radius_light   : .24em;
$radius_regular : .32em;
$radius_medium  : .44em;
$radius_heavy   : .72em;
$radius_area    : 1.16em;
$box_shadow     : 0px 0px 2em rgba(0,0,0,.1);
