// _nav.scss

.navigation{
  width: 80%;
  height: auto;
  margin: 0em;
  padding: .7em 10%;
  @extend %flex_row;
  @extend %flex_center;
  box-shadow: 0px 0px 2em rgba(0, 0, 0, .1);
  opacity: 1;

  a#logo{
    margin: auto;
    margin-left: 0em;
  }

  a#tel{
    padding-right: 1em;
    border-right: 1px solid #ccc;
  }

  a.link{
    border: 0px;
    color: $dark;
    margin: auto .7em;
    opacity: 1;
    span#new{
      color: $primary;
      margin-right: .4em;
      font-size: .88em;
    }
  }

  a.link:hover{
    color: $primary;
  }

  a.button{
    border-radius: .32em;
  }

  .navigation__wrapper{
    @extend %flex_column;
    @extend %flex_center;
    margin: auto;
    margin-right: 0em;
  }
  .navigation__top, .navigation__bottom{
    margin: auto;
    margin-right: 0em;
    a:last-child{
      margin-right: 0em;
    }
  }
  .navigation__top{
    padding-bottom: .7em;
  }
  .navigation__bottom{
    padding-top: .7em;
    border-top: 1px solid #ccc;
  }
}

.navigation__mobile_wrapper{
  display: none;
  opacity: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.navigation__mobile_content{
  display: none;
  opacity: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.navigation.fixed{
  position: fixed;
  top:0px;
  left: 0px;
  z-index: 10000;
  opacity: 0;
  transform: translateY(-300px);
  background: $white;
  transition: .2s ease-in;
  .navigation__bottom{
    border: 0px;
    margin: auto;
    margin-left: 0em;
    padding: 0em;
  }
}

.navigation.fixed.open{
  opacity: 1;
  transform: translateY(0px);
  transition: .2s cubic-bezier(.5,.74,1,1.13);
}

@media screen and (max-width: 1381px){
  .navigation{
    a#logo{
      img{
        max-height: 32px;
      }
    }
  }
  .navigation__bottom{
    font-size: .88em;
  }
}

@media screen and (max-width: 1241px){
  .navigation__bottom{
    font-size: .8em;
  }
}

@media screen and (max-width: 1080px){
  .navigation{
    display: none;
    opacity: 0;
    width: 0px;
    height: 0px;
    overflow: hidden;
  }

  .navigation__mobile_wrapper{
    width: 80%;
    height: auto;
    padding: .7em 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: $white;
    opacity: 1;
    box-shadow: 0px 0px 2em rgba(0, 0, 0, .1);
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 11111;

    a{
      margin: auto .7em;
    }

    a#logo{
      margin: auto;
      margin-left: 0em;
      img{
        max-height: 32px;
      }
    }
    a#menu{
      width: 32px;
      height: 32px;
      margin-right: 0em;
      display: block;
      text-decoration: none;
      border-bottom: 0em;
      border: 0px solid #fff;
      border-radius: .32em;

      span{
        width: 24px;
        height: 2px;
        display: block;
        margin: auto;
        background: $primary;
        transition: .12s linear;
        transform: translateY(0px) rotate(0deg);
      }

      span:first-child{
        margin-top: 11px;
      }

      span:last-child{
        margin-top: 9px;
      }
    }

    a#menu.open{
      background: rgba(255, 0, 0, .1);
      span:first-child{
        transform: translateY(4px) rotate(45deg) ;
      }

      span:last-child{
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
  .navigation__mobile_content{
    width: 80%;
    height: 90vh;
    padding: 5vh 10%;
    background: $white;
    display: block;
    position: fixed;
    opacity: 0;
    top:0px;
    left: 0px;
    z-index: 11000;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: .2s linear;
    transform: translateX(120vw);

    .navigation__mobile_content__wrapper{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 60px;

      a{
        text-align: left;
        margin: .7em auto;
        margin-left: 5%;
        font-size: 1.16em;
        text-decoration: none;
        border: 0em;
        color: $black;
        span{
          font-size: .88em;
          color: $primary;
          margin-left: .5em;
          border: 1px solid $primary;
          border-radius: 1em;
          padding: .32em;
        }
      }
      .navigation__mobile_content__wrapper_contacts{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .button{
          width: 80%;
          text-align: center;
          color: #fff;
        }
      }
    }
  }
  .navigation__mobile_content.open{
    opacity: 1;
    transition: .2s linear;
    transform: translateX(0vw);
  }
}

@media screen and (max-width: 511px){
  .navigation__mobile_wrapper{
    a#tt{
      display: none;
    }
  }
}
