@font-face {
  font-family: ProximaNova;
  src: url(../fonts/proximanova-regular.ttf) format("ttf"),
    url(../fonts/ProximaNova-Regular.woff) format("woff");
}

@font-face {
  font-family: ProximaNovaBold;
  src: url(../fonts/ProximaNova-Bold.ttf) format("ttf"),
    url(../fonts/ProximaNova-Bold.woff) format("woff"),
    url(../fonts/fonts/ProximaNova-Bold.eot) format("eot");
  font-weight: 700;
}

@font-face {
  font-family: ProximaNovaBl;
  src: url(../fonts/ProximaNova-Black.ttf) format("ttf"),
    url(../fonts/ProximaNova-Black.woff) format("woff"),
    url(../fonts/ProximaNova-Black.eot) format("eot");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: ProximaNovaSB;
  src: url(../fonts/ProximaNova-Semibold.ttf) format("ttf"),
    url(../fonts/ProximaNova-Semibold.woff) format("woff"),
    url(../fonts/ProximaNova-Semibold.eot) format("eot");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #2b2e45;
}

.main-color {
  color: #2b2e45;
}

.ligthen-color {
  color: #2b2e45d1;
}

.color-red {
  color: #ec1114;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.pmbold {
  font-family: "ProximaNovaBold", sans-serif;
}

.pmblack {
  font-family: "ProximaNovaBl", sans-serif;
}

.pmsb {
  font-family: "ProximaNovaSB", sans-serif;
}

.text-small {
  font-size: 0.875rem;
}

.text-big {
  font-size: 1.125rem;
}

.h1 {
  font-size: 2.25rem;
}

.h2 {
  font-size: 1.875rem;
}

.h3 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.button_h-60 {
  height: 60px;
}
.button_volvo {
  width: 100%;
  box-shadow: 1px 3px 5px 0 #131111d2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f25352),
    color-stop(1%, #f25352),
    color-stop(50%, #e02a28),
    color-stop(85%, #b92526d1)
  );
  background: linear-gradient(
    to bottom,
    #f25352,
    #f25352 1%,
    #e02a28 50%,
    #b92526d1 85%
  );
  border: none;
  font-family: proximanova;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  line-height: 2;
  border-radius: 5px;
  display: block;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-shadow: 2px 2px 3px #0000009c;
}
.button_volvo-green {
  background: linear-gradient(
    to bottom,
    #8ad57f,
    #82d269 25%,
    #7dca65 50%,
    #6eb45b 100%
  );
}
/* header */

.item_img-wrapper {
  border-radius: 50%;
  background-color: #f8f9fd;
  width: 40px;
  height: 40px;
}

header .color-red:hover {
  color: red;
}

.header_bottom > .row {
  background-color: #f8f9fd;
  border: 1px solid #eaecf9;
}

.nav-link {
  text-transform: uppercase;
}

@media (min-width: 767px) {
  .navbar-expand-md .navbar-nav {
    flex-grow: 1;
  }
}
/* intro */
.intro {
  background-size: contain;
  background: url(../img/bg.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.intro .intro_content {
  background: rgb(248, 249, 253);
  background: linear-gradient(
    90deg,
    rgba(248, 249, 253, 1) 0%,
    rgba(248, 249, 253, 1) 50%,
    rgba(248, 249, 253, 0) 64%,
    rgba(248, 249, 253, 0) 100%
  );
  border: 2px solid #eaecf9;
  border-right: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 50px 70px;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .intro .intro_content {
    background: rgb(248, 249, 253);
    background: linear-gradient(
      90deg,
      rgba(248, 249, 253, 0.9) 0%,
      rgba(248, 249, 253, 0.7) 51%,
      rgba(248, 249, 253, 0.5) 64%,
      rgba(248, 249, 253, 0.5) 100%
    );
  }
}
.line {
  width: 1px;
  height: calc(100% - 200px);
  background: linear-gradient(
    180deg,
    rgba(230, 233, 248, 1) 0%,
    rgba(230, 233, 248, 1) 75%,
    rgba(236, 17, 20, 1) 75%,
    rgba(236, 17, 20, 1) 100%
  );
}
.perform_column {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  margin: 0;
  height: 600px;
  padding: 20px 0;
}
.intro_content .button_volvo {
  max-width: 300px;
}
.button_with-book {
  position: relative;
  padding-left: 60px;
}
.button_with-book:before {
  content: "";
  position: absolute;
  z-index: 11;
  left: -66px;
  top: -35px;
  background-image: url(../img/MAGAZINE.png);
  width: 140px;
  height: 135px;
  pointer-events: none;
}
.intro_contact-block {
  width: 74%;
  background-color: #ffffffba;
  background-image: url(../img/introarrow.png);
  background-position: top 115px right 35px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 1px 1px 15px 0 #767474;
  box-shadow: 1px 1px 15px 0 #767474;
  border-radius: 20px;
  padding: 25px 20px;
  padding-left: 25%;
  position: relative;
}

.intro_contact-block:before {
  content: "";
  position: absolute;
  z-index: 11;
  left: -80px;
  top: 60px;
  background-image: url(../img/bigphone.png);
  width: 210px;
  height: 390px;
  pointer-events: none;
}
@media screen and (min-width: 992px) {
  .intro_contact-block {
    width: 85%;
  }
  .intro_contact-block:before {
    left: -100px;
  }
}
@media screen and (min-width: 1400px) {
  .intro_contact-block {
    width: 74%;
  }
  .intro_contact-block:before {
    left: -80px;
  }
}
.intro_contact-block .button_volvo span:before {
  content: "";
  position: absolute;
  z-index: 11;
  left: -30px;
  top: 2.5px;
  background-image: url(../img/whatsappwhite.png);
  width: 17px;
  height: 17px;
  pointer-events: none;
}
.intro_contact-block .telegram {
  position: relative;
}
.intro_contact-block .telegram:before {
  content: "";
  position: absolute;
  z-index: 11;
  left: -10px;
  top: 2.5px;
  background-image: url(../img/telegram.png);
  width: 35px;
  height: 35px;
  pointer-events: none;
}
.intro_contact-block .telegram span {
  position: relative;
}
.intro_contact-block .telegram span:before {
  background-color: #039be5;
  content: "";
  position: absolute;
  left: 1px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  pointer-events: none;
}
.intro_contact-block .phone {
  position: relative;
}
.intro_contact-block .phone:before {
  content: "";
  position: absolute;

  left: 0px;
  top: 2.5px;
  background-image: url(../img/call.png);
  width: 20px;
  height: 19px;
  pointer-events: none;
}

/* stocks */
.stocks_undertitle {
  padding: 5px 15px;
  background-color: #fff;
  border: 1px solid #eaecf9;
  border-radius: 20px;
  display: inline;
}
.stocks_item {
  padding: 30px 29px;
  border-radius: 20px;
  height: 248px;
  border: 1px solid #eaecf9;
  background: linear-gradient(
      90deg,
      rgba(248, 249, 253, 1) 0%,
      rgba(248, 249, 253, 1) 50%,
      rgba(248, 249, 253, 0.5) 64%,
      rgba(248, 249, 253, 0) 100%
    ),
    url(../img/stock1.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.stocks_item-2 {
  background: linear-gradient(
      90deg,
      rgba(248, 249, 253, 1) 0%,
      rgba(248, 249, 253, 1) 50%,
      rgba(248, 249, 253, 0.5) 64%,
      rgba(248, 249, 253, 0) 100%
    ),
    url(../img/stock2.jpg) no-repeat;
}
.stocks_item-3 {
  background: linear-gradient(
      90deg,
      rgba(248, 249, 253, 1) 0%,
      rgba(248, 249, 253, 1) 50%,
      rgba(248, 249, 253, 0.5) 64%,
      rgba(248, 249, 253, 0) 100%
    ),
    url(../img/stock3.jpg) no-repeat;
}
